@import "colors";

.tooltipMain {
    position: relative;
    display: inline-block;

    .tooltipContent {
        visibility: hidden;
        width: 250px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        top: 100%;
        left: 50%;
        margin-left: -30px;
        position: absolute;
        z-index: 1;
    }

    &:hover .tooltipContent {
        visibility: visible;
    }
}

img {
    width: 100%;
}
